*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    overflow: hidden;
}

.wave{
    position: fixed;
    width: 1152px;
    height: 127px;
    left: 0px;
    top: 0px;
}
.wave2{
    position:fixed;
    width: 1152px;
    height: 105px;
    left: 0px;
    top: 530px;
}

.container{
    width: 90vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.left h2{
    position: absolute;
    width: 531px;
    height: 46px;
    left: 60px;
    top: 144px;

    font-family: Nunito Sans;
    font-style: normal;
    
    font-size: 2rem;
    line-height: 49px;
    
    align-items: center;
    text-align: center;

    color: #0175C2;
}
.left img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
    top: 250px;
    
}
.img img{
    width: 350px;
    left: 150px;
    position: absolute;
}

.login-container{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

form{
	
    width: 360px;
}

form h2{
    margin: 5px 0;
    color: #0175C2;

    font-family: Nunito Sans;
    font-style: normal;
    font-size: 2rem;
    
    align-items: center;
    text-align: center;
}

form h3{
    margin: 15px 0;
    color: #0175C2;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
   
    align-items: center;
    text-align: center;
}
.input-div:after, .input-div::before{
    content: '';
    position: absolute;
    bottom: -2px;
    margin-left: 170px;
    width: 0%;
    height: 2px;
    background-color: #0175C2;
    transition: .3s;
}

.input-div::after{
    right: 50%;
}
.input-div.focus .i{
    color: #0175C2;
}

.input-div.focus div h5{
    top: -5px;
    font-size: 15px;
}
.input-div.focus:after, .input-div.focus:before{
    width:50%;
}

.input-div{
    position: relative;
    display: grid;
    color: #0175C2;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px;
    border-bottom: 2px solid rgba(115, 169, 196, 0.18);
    border-radius: 15px;
}

.input-div::after{
    right: 50%;
}
.input-div.one{
    margin-top: 0;
}

.input-div.two{
    margin-bottom: 4px;
}

.i{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#73A9C3;
    margin-left: 5px;
    transition: .3s;
}

.input-div > div{
    position: relative;
    height: 45px;
}


.input-div > div h5{
    position: absolute;
    left: 10px;
    top:50%;
    transform: translateY(-50%);
    color:#73A9C3;
    font-size: 18px;
    transition: .3s;
}

.input{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border: none;
    background: none;
    outline:none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #0175C2;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
}

.btn{
    width: 190px;
    height: 40px;
    margin:2rem 0;
    border: none;
    background: #0175C2;
    border-radius: 15px;
    outline: none;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;

    align-items: center;
    text-align: center;
    color: #FFFFFF;
    transition: .5s;
    background-size: 200%;
}

.btn.hover{
    background-position: right;
} 

@media screen and (max-width: 1050px){
    .container{
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px){
    from{
        width: 290px;
    }
    from h2{
        font-size: 2.4rem;
        margin: 8px 0;
    }
    .img img{
        width: 400px;
    }
}

@media screen and (max-width: 900px){
    .left h2{
        display: none;
    }
    .img{
        display: none;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .wave{
        display: none;
    }
    .wave2{
        display: none;
    }
    .login-container{
        justify-content: center;
    }
}