*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    /* overflow: hidden; */
}

.wrapper{
    overflow: hidden;
    top: 0;
    position: sticky;
    width: 100%;
    margin-top: 10px;
    padding: 0 40px;
    z-index: 1;
}

.wrapper .navbar ul li a{
    list-style: none;
    text-decoration: none;
    transition: .3s;
    color: #fff;
    font-weight: bold;
}

.wrapper .navbar .left{
    margin-right: auto;
}
  
.wrapper .navbar .left ul{
    height: 40px;
    text-decoration: none;
    list-style: none;
    justify-content: center;
}

.wrapper .navbar .right ul li a{
    display: flex;
    height: 40px;
}

.wrapper .navbar .left ul li a{
    justify-content: left;
    padding: 10px 15px;
}

.wrapper .navbar .left ul li{
    align-items: center;
    display: inline;
    line-height: 50px;
}
  
.wrapper .navbar .left ul li,
.wrapper .navbar .right img{
    margin: 0 10px;
    justify-content: center;
}
  
.wrapper .navbar .right a{
    text-align: right;
    list-style: none;
}
  
.wrapper .navbar .right a span{
    font-size: 10px;
}
  
.wrapper .navbar .right ul li{
    position: relative;
    list-style: none;
}
  
.wrapper .navbar .right ul li .dropdown{
    position: absolute;
    top: 65px;
    left: 40px;
    right: 0px;
    background: #5DAAD9;
    padding: 10px 0px;
    border-radius: 5px;
    display: none;
}

.wrapper .navbar .right .dropdown ul li a{
    align-items: center;
}
  
.wrapper .navbar .right ul li .dropdown:before{
    content: "";
    align-items: left;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: transparent transparent #5DAAD9 transparent;
}
  
.wrapper .navbar .right ul li.active .dropdown{
    display: block;
}

.wrapper .navbar .left li a:hover{
    color: #3a6d8d;
}
h4{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    color: #1A84C8;
}
.row{
    padding-top: 20px;
}
.form-field{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-field .form-control{
    background-color: #E6F0F4;
    border-radius: 15px;
    color: #0175C2;
    border: none;
    margin-top: 10px;
}

textarea {
    height: 126px;
}


.btn1{
    width: 190px;
    height: 40px;
    margin:2rem 0;
    border: none;
    background: #0175C2;
    border-radius: 15px;
    outline: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-left: 360px;
    /* align-items: center; */
    text-align: center;
    color: #FFFFFF;
    /* background-size: 200%; */
}
.btn1:hover{
    background: white;
    border: 2px solid #0175C2;;
    color:#0175C2;
}