*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

.wrapper{
    overflow: hidden;
    top: 0;
    position: static;
    width: 100%;
    margin-top: 10px;
    padding: 0 40px;
    z-index: 1;
}

.wrapper .navbar ul li a{
    list-style: none;
    text-decoration: none;
    transition: .3s;
    color: #fff;
    font-weight: bold;
}

.wrapper .navbar .left{
    margin-right: auto;
}
  
.wrapper .navbar .left ul{
    height: 40px;
    text-decoration: none;
    list-style: none;
    justify-content: center;
}

.wrapper .navbar .right ul li a{
    display: flex;
    height: 40px;
}

.wrapper .navbar .left ul li a{
    justify-content: left;
    padding: 10px 15px;
}

.wrapper .navbar .left ul li{
    align-items: center;
    display: inline;
    line-height: 50px;
}
  
.wrapper .navbar .left ul li,
.wrapper .navbar .right img{
    margin: 0 10px;
    justify-content: center;
}
  
.wrapper .navbar .right a{
    text-align: right;
    list-style: none;
}
  
.wrapper .navbar .right a span{
    font-size: 10px;
}
  
.wrapper .navbar .right ul li{
    position: relative;
    list-style: none;
}
  
.wrapper .navbar .right ul li .dropdown{
    position: absolute;
    top: 65px;
    left: 40px;
    right: 0px;
    background: #5DAAD9;
    padding: 10px 0px;
    border-radius: 5px;
    display: none;
}

.wrapper .navbar .right .dropdown ul li a{
    align-items: center;
}
  
.wrapper .navbar .right ul li .dropdown:before{
    content: "";
    align-items: left;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: transparent transparent #5DAAD9 transparent;
}
  
.wrapper .navbar .right ul li.active .dropdown{
    display: block;
}

.wrapper .navbar .left li a:hover{
    color: #3a6d8d;
}

.wrapper .active{
    color: #CE6F64;
}

/* Search Produk */
.topsection{
    margin-top: 30px;
}

.input-group{
    margin-left: 45px;
}

.topsection .input{
    border: 0;
	outline: none;
	color: #8b7d77;
}

.search_wrap{
    margin-left: 15px;
}

.search_wrap .search_box{
	position: relative;
	width: 945px;
	height: 40px;
    margin-left: 30px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 18px;
    background: #E6F0F4;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 100%;
	background: #0175C2;
	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background: #70abd2;	
}

.search_wrap.search_wrap_3 .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #CE6F64;
	font-size: 20px;
}

.search_wrap.search_wrap_3 .search_box .input{
	padding-right: 80px;
}

.search_wrap.search_wrap_3 .search_box .input{
	border-radius: 15px;
}

.search_wrap.search_wrap_3 .search_box .btn{
	right: 0px;
	border-radius: 0px 15px 15px 0px;
}

.search_box .input:hover{
    opacity: 0.5;
}

.products{
    z-index: 0;
    margin-top: 40px;
}

/* Bagian Kategori */
.category-head{
    margin: 15px 0;
    margin-left: 10px;
}
.category-head ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.category-title{
    flex: 0 0 calc(16.6667% - 10px);
    display: flex;
    justify-content:center;
    background: #E6F0F4;
    padding: 10px;
    color: #0175C2;
    margin: 4px;
    cursor: pointer;
    transition: all 0.4s ease;
    border-radius: 10px;
}
.category-title:hover{
    opacity: 0.5;
}
.category-title li{
    padding: 0 10px;
}
.category-title span{
    color: #222;
}
.active{
    background-color: #0175C2 ;
    color: #FFFF;
}


/* Bagian Produk Font Image*/
.product-img img{
    width: 100%;
    display: block;
}

.md-title,
.sm-title{
    font-family: 'Nunito Sans', sans-serif;
    text-transform: capitalize;
}

.md-title{
    font-size: 2rem;
    font-family: 'Nunito Sans', sans-serif;
}
.sm-title{
    font-weight: 300;
    font-size: 1rem;
}

/* Product Section*/
.products{
    margin: 0 auto;
    background: var(--alice-blue);
    padding: 3.2rem 0;
}

.product-items{
    margin-left: 30px;
}

.product{
    margin: 1rem;
    position: relative;
}

.product-content{
    background: #E6F0F4;
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor: pointer;
    border-radius: 15px 15px 0px 0px ;
}

.product-img{
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
}

.product-btns{
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    transition: opacity 0.6s ease;
    opacity: 0;
}

.btn-cart, .btn-buy{
    background: transparent;
    border: 1px solid black;
    padding: 0.5rem 0;
    width: 125px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
}
.btn-cart{
    background: black;
    color: white;
}
.btn-cart:hover{
    background: var(--carribean-green);
}
.btn-buy{
    background: white;
}
.btn-buy:hover{
    background: var(--carribean-green);
    color: #fff;
}

.product-info{
    background: #E6F0F4;
    padding: 1rem;
    border-radius: 0px 0px 15px 15px ;
}
.product-info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating span{
    color: var(--carribean-green);
}
.product-name{
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.product-price{
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}

.product-img img{
    transition: transform 0.6s ease;
}

.product:hover .product-img img{
    transform: scale(1.1);
}
.product:hover .product-img{
    background: var(--carribean-green);
}
.product:hover .product-btns{
    opacity: 1;
}

.off-info .sm-title{
    background: #0175C2;
    color: white;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
    border-radius: 15px 0px 15px 0px;
    font-size: 14px;
}

/* Media Queries */
@media screen and (min-width: 992px){
    .product-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .product-col-r-bottom{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1200px){
    .product-items{
        grid-template-columns: repeat(3, 1fr);
    }
    .product{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .products .text-light{
        width: 50%;
    }
}

@media screen and (min-width: 1336px){
    .product-items{
        grid-template-columns: repeat(4, 1fr);
    }
    .product-collection-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .flex{
        height: 60vh;
    }
    .product-col-left{
        height: 121.5vh;
    }
}

/* Jadwal Saya */

.luaranjadwal{
    margin-top: 30px;
    margin-right: 40px;
    background-color: #E6F0F4;
    border-radius: 15px;
    height: 400px;
    padding: 20px;
}

.jadwalsaya p{
    font-size: 20px;
    font-weight: bold;
    color: #0175C2;
}

.event{
    background-color: #CE6F64;
    padding: 12px;
    border-radius: 15px;
}

.namaevent{
    color: #FFFF;
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.tglevent{
    color: #FFFF;
    font-size: 14px;
    font-weight: lighter;
}

