*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    
}
body{
    /* overflow: hidden; */
    background:url('asset/bg.svg') no-repeat;
    background-size: cover;
    padding-bottom: 500px;
    padding-top: 130px;
}

.container{
	justify-content: flex-start;
}

.container .btn_regist{
    justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.container .col-lg-5{
    justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.col-lg-5 h2{
    margin-top: 20px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 49px;
    align-items: center;
    text-align: center;
    color: #0175C2;
}

form{
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 50px;
}

form h4{ 
    color: #0175C2;
    font-family: Nunito Sans;
    font-style: bold;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

form h5{
    margin: 5px 0;
    color: #0175C2;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

form .label{
    margin-top: 5px;
    color: #0175C2;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    align-items: left;
    text-align: left;
}

.btn1{
    width: 190px;
    height: 40px;
    margin:2rem 0;
    border: none;
    background: #0175C2;
    border-radius: 15px;
    outline: none;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    
    /* align-items: center; */
    text-align: center;
    color: #FFFFFF;
    /* background-size: 200%; */
}
.btn1:hover{
    background: white;
    border: 2px solid #0175C2;;
    color:#0175C2;
}

.form-field .form-control{
    background-color: #E6F0F4;
    border-radius: 15px;
    color: #0175C2;
    border: none;
    margin-top: 10px;
}

.form-field .label{
    text-align: left;
    align-content: left;
}